@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
    padding: 0;
    margin: 0;
    
}

body {
    background: linear-gradient(rgba(0, 0, 0, 0.925), rgba(0, 0, 0, 0.829)), url("./img/background.jpg");
    background-size: cover;
    height: 100vh;
    overflow: hidden;
}

.home {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}


h1, a{
    font-family: "Montserrat", sans-serif;
    color: whitesmoke;
}

h1{
    animation: upAnimation 1.5s ease;
    font-size: 65px;
}


.loginButton, .cadastrarButton{
    
    margin-left: 20px;
    padding: 9px 25px;
    border: none;
    cursor: pointer;
    background: rgb(2, 32, 39);
    margin-top: 20px;
    color: #edf0f1;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.loginButton{
    animation: upAnimationButton 2.0s ease;
}

.cadastrarButton{
    animation: AnimationButton 2.0s ease;
}

.loginButton:before{
    content: attr(data-text);
    position: absolute;
    text-align: center;    
    transition: 0.5s;
    transform-origin: bottom;
    transform: translateY(-124%) rotateX(90deg);
    background: rgb(92, 94, 196);
    padding: 9px 25px;
    margin-left: -25px;

}

.loginButton:hover:before{
    transform: translateY(-26%) rotateX(0deg);
}

.loginButton:after{
    content: attr(data-text);
    position: absolute;
    text-align: center;    
    transition: 0.5s;
    transform-origin: top;
    transform: translateY(-26%) rotateX(0deg);
    
    background: rgb(32, 32, 116);
    padding: 9px 25px;
    margin-left: -118px;
}

.loginButton:hover:after{
    transform: translateY(70%) rotateX(90deg);
}

.cadastrarButton:before{
    content: attr(data-text);
    position: absolute;
    text-align: center;    
    transition: 0.5s;
    transform-origin: bottom;
    transform: translateY(-124%) rotateX(90deg);
    background: rgb(73, 90, 95);
    padding: 9px 25px;
    margin-left: -25px;
}

.cadastrarButton:hover:before{
    transform: translateY(-26%) rotateX(0deg);
}

.cadastrarButton:after{
    content: attr(data-text);
    position: absolute;
    text-align: center;    
    transition: 0.5s;
    transform-origin: top;
    transform: translateY(-26%) rotateX(0deg);
    background: rgb(37, 52, 56);
    padding: 9px 25px;
    margin-left: -162px;
}

.cadastrarButton:hover:after{
    transform: translateY(70%) rotateX(90deg);
}

@keyframes upAnimation{
	0%{
		opacity: 0;
		transform: translateY(80px);
        text-shadow: 0 30px 25px #000;
        color: rgba(40, 39, 131, 0.829);

	}
	100%{
		opacity: 1;
		transform: translateY(0px);
        text-shadow: 0 0 0 #000;
        color: white;
	}
}

@keyframes upAnimationButton{
	0%{
		opacity: 0;
		transform: translateX(-400px) rotate(360deg);
        text-shadow: 0 30px 25px #000;
        color: rgba(0, 0, 0, 0.829);
    }
	100%{
		opacity: 1;
		transform: translate(0px) rotate(0deg);
        text-shadow: 0 0 0 #000;
        color: white;
	}
}

@keyframes AnimationButton{
	0%{
		opacity: 0;
		transform: translateX(400px) rotate(360deg);
        text-shadow: 0 30px 25px #000;
        color: rgba(0, 0, 0, 0.829);
    }
	100%{
		opacity: 1;
		transform: translate(0px) rotate(0deg);
        text-shadow: 0 0 0 #000;
        color: white;
	}
}