<app-dashboard></app-dashboard>

<div class="container-border">

    <p-tabView [activeIndex]="0">
        <p-tabPanel [header]="'Produtos'">

            <div class="borda-table">
                <p-table #table [rows]="10" [paginator]="true" [value]="produtos" [columns]="tabViewItems">

                    <!-- Parte superior da Tabela -->
                    <ng-template pTemplate="caption">
                        <div class="row">
                            <div class="col-8 text-left">
                                <input type="text" pInputText size="50" placeholder="Pesquisar" [(ngModel)]="pesquisa"
                                    (input)="table.filterGlobal($event.target.value, 'contains')" class="pesquisa">
                                <i class="fas fa-search fa-1x ml-1" style="margin-top: auto; margin-bottom: auto;"></i>
                            </div>
    
                            <div class="col-4 text-right">
                                <button class="btn btn-success px-5" (click)="mostrarDialogCadastroProduto = true">
                                    <i class="fas fa-plus"></i>
                                    Cadastrar Produto
                                </button>
                            </div>
                        </div>
                    </ng-template>

                    <!-- Headers da Tabela -->
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th *ngFor="let col of columns" [ngClass]="col.style" [pSortableColumn]="col.field" class="px-0 px-1 text-center">
                                {{ col.header }}

                                <p-sortIcon [field]="col.field" *ngIf="col.header !== 'Ações'"></p-sortIcon>
                            </th>
                        </tr>
                    </ng-template>

                    <!-- Body da Tabela -->
                    <ng-template pTemplate="body" let-produto let-columns="columns">
                        <tr>
                            <td *ngFor="let col of columns" class="text-center">
                                {{ produto[col.field] }}

                                <div *ngIf="col.field == 'acoes'" style="display: inline;">
                                    <button class="btn btn-warning btn-sm" pTooltip="Atualizar" tooltipPosition="bottom"
                                        (click)="abrirDialogParaAtualizarProduto(produto)">
                                        <i class="fas fa-sync"></i>
                                    </button>

                                    <button class="btn btn-primary btn-sm mx-2" pTooltip="Comprar" tooltipPosition="bottom"
                                        (click)="abrirDialogCompraProduto(produto)">
                                        <i class="fas fa-shopping-bag"></i>
                                    </button>

                                    <button class="btn btn-danger btn-sm" pTooltip="Remover" tooltipPosition="bottom"
                                        (click)="abrirDialogParaRemoverProduto(produto)">
                                        <i class="fas fa-trash-alt"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </ng-template>

                    <!-- Caso não haja Produtos -->
                    <ng-template pTemplate="emptymessage" let-cols>
                        <tr>
                            <td [attr.colspan]="cols.length" *ngIf="!this.processandoOperacao" class="text-center">
                                Nenhum Produto encontrado!
                            </td>

                            <td class="text-center" [attr.colspan]="cols.length" *ngIf="this.processandoOperacao">
                                <p-progressSpinner [strokeWidth]="3"></p-progressSpinner>
                            </td>
                        </tr>
                    </ng-template>

                    <!-- Parte inferior da tabela -->
                    <ng-template pTemplate="summary">
                        <div class="text-center">Produtos em Estoque: {{ (produtos) ? produtos.length : 0 }}</div>
                    </ng-template>
                </p-table>
            </div>
        </p-tabPanel>
    </p-tabView>
</div>

<!-- Dialog de Cadastro do Produto -->
<p-dialog [(visible)]="mostrarDialogCadastroProduto" [draggable]="false" [resizable]="false" 
    [blockScroll]="true" [closable]="false" [style]="{width: '70vh'}">

    <p-header>
        Cadastrar Produto
    </p-header>

    <div>
        <div class="p-inputgroup my-3">
            <span class="p-inputgroup-addon">Descrição</span>
            <input [(ngModel)]="novoProduto.descricao" pInputText>
        </div>

        <div class="row">
            <div class="p-inputgroup col-7">
                <span class="p-inputgroup-addon">Preço R$</span>
                <input [(ngModel)]="novoProduto.preco" type="number" min="0" pInputText type="number" min="0">
            </div>
    
            <div class="p-inputgroup col-5">
                <span class="p-inputgroup-addon">Estoque</span>
                <input [(ngModel)]="novoProduto.estoque" type="number" min="0" pInputText type="number" min="0">
            </div>
        </div>
    </div>

    <p-footer>
        <button class="btn btn-danger" (click)="mostrarDialogCadastroProduto = false">
            <i class="fas fa-arrow-circle-left"></i>
            Voltar
        </button>

        <button class="btn btn-success" (click)="cadastrarProduto()" [disabled]="camposCadastroProdutoEstaoValidos() || processandoOperacao">
            <i class="fas " [ngClass]="processandoOperacao ? 'fa-spin fa-circle-notch' : 'fa-check-circle'"></i>
            Cadastrar
        </button>
    </p-footer>
</p-dialog>

<!-- Dialog de Atualização do Produto -->
<p-dialog [(visible)]="mostrarDialogAtualizacaoProduto" [draggable]="false" [resizable]="false" 
    [blockScroll]="true" [closable]="false" [style]="{width: '70vh'}">

    <p-header>
        Atualizar Produto
    </p-header>

    <div>
        <div class="p-inputgroup" style="width: 130px;">
            <span class="p-inputgroup-addon">ID</span>
            <input [value]="produtoSelecionado.id" pInputText [disabled]="true">
        </div>

        <div class="p-inputgroup my-3">
            <span class="p-inputgroup-addon">Descrição</span>
            <input [value]="produtoSelecionado.descricao" pInputText [disabled]="true">
        </div>

        <div class="row">
            <div class="p-inputgroup col-7">
                <span class="p-inputgroup-addon">Preço R$</span>
                <input [(ngModel)]="produtoParaAtualizar.preco" type="number" min="0" pInputText>
            </div>
    
            <div class="p-inputgroup col-5">
                <span class="p-inputgroup-addon">Estoque</span>
                <input [(ngModel)]="produtoParaAtualizar.estoque" type="number" min="0" pInputText>
            </div>
        </div>
    </div>

    <p-footer>
        <button class="btn btn-danger" (click)="mostrarDialogAtualizacaoProduto = false">
            <i class="fas fa-arrow-circle-left"></i>
            Voltar
        </button>

        <button class="btn btn-success" (click)="atualizarProduto()" [disabled]="camposAtualizacaoProdutoEstaoValidos() || processandoOperacao">
            <i class="fas " [ngClass]="processandoOperacao ? 'fa-spin fa-circle-notch' : 'fa-check-circle'"></i>
            Atualizar
        </button>
    </p-footer>
</p-dialog>

<!-- Dialog de Atualização do Produto -->
<p-dialog [(visible)]="mostrarDialogCompraProduto" [draggable]="false" [resizable]="false" 
    [blockScroll]="true" [closable]="false" [style]="{width: '70vh'}">

    <p-header>
        Comprar Produto
    </p-header>

    <div>
        <div class="p-inputgroup" style="width: 130px;">
            <span class="p-inputgroup-addon">ID</span>
            <input [value]="produtoSelecionado.id" pInputText [disabled]="true">
        </div>

        <div class="p-inputgroup my-3">
            <span class="p-inputgroup-addon">Descrição</span>
            <input [value]="produtoSelecionado.descricao" pInputText [disabled]="true">
        </div>

        <div class="row">
            <div class="p-inputgroup col-7">
                <span class="p-inputgroup-addon">Preço R$</span>
                <input [(ngModel)]="produtoSelecionado.preco" type="number" min="0" pInputText [disabled]="true">
            </div>
    
            <div class="p-inputgroup col-5">
                <span class="p-inputgroup-addon">Estoque</span>
                <input [(ngModel)]="produtoSelecionado.estoque" type="number" min="0" pInputText [disabled]="true">
            </div>
        </div>

        <div class="row mt-3">
            <div class="p-inputgroup col">
                <span class="p-inputgroup-addon">Quantidade</span>
                <input [(ngModel)]="novaCompra.quantidade" type="number" min="0" pInputText>
            </div>
    
            <div class="p-inputgroup col">
                <span class="p-inputgroup-addon">Total R$</span>
                <input #total [value]="atualizarPrecoTotalCompra(produtoSelecionado.preco, novaCompra.quantidade)" pInputText [disabled]="true">
            </div>
        </div>
    </div>

    <p-footer>
        <button class="btn btn-danger" (click)="mostrarDialogCompraProduto = false">
            <i class="fas fa-arrow-circle-left"></i>
            Voltar
        </button>

        <button class="btn btn-success" (click)="comprarProduto()" [disabled]="camposCompraProdutoEstaoValidos(total) || processandoOperacao">
            <i class="fas " [ngClass]="processandoOperacao ? 'fa-spin fa-circle-notch' : 'fa-check-circle'"></i>
            Comprar
        </button>
    </p-footer>
</p-dialog>

<!-- Dialog para Remover Produto -->
<p-dialog [(visible)]="mostrarDialogRemoverProduto" [draggable]="false" [resizable]="false" 
    [blockScroll]="true" [closable]="false" [style]="{width: '70vh'}">

    <p-header>
        Remover Produto
    </p-header>

    <div>
        <div class="p-inputgroup" style="width: 130px;">
            <span class="p-inputgroup-addon">ID</span>
            <input [value]="produtoSelecionado.id" pInputText [disabled]="true">
        </div>

        <div class="p-inputgroup my-3">
            <span class="p-inputgroup-addon">Descrição</span>
            <input [value]="produtoSelecionado.descricao" pInputText [disabled]="true">
        </div>

        <div class="row">
            <div class="p-inputgroup col-7">
                <span class="p-inputgroup-addon">Preço R$</span>
                <input [(ngModel)]="produtoSelecionado.preco" pInputText [disabled]="true">
            </div>
    
            <div class="p-inputgroup col-5">
                <span class="p-inputgroup-addon">Estoque</span>
                <input [(ngModel)]="produtoSelecionado.estoque" pInputText [disabled]="true">
            </div>
        </div>
    </div>

    <p-footer>
        <button class="btn btn-danger" (click)="mostrarDialogRemoverProduto = false">
            <i class="fas fa-arrow-circle-left"></i>
            Voltar
        </button>

        <button class="btn btn-success" (click)="removerProduto()" [disabled]="processandoOperacao">
            <i class="fas " [ngClass]="processandoOperacao ? 'fa-spin fa-circle-notch' : 'fa-check-circle'"></i>
            Remover
        </button>
    </p-footer>

</p-dialog>

<app-toasty #toastyComponent></app-toasty>