<body>
    <header>
        <a class="logo" [routerLink]="['']">MATERIAL DE CONSTRUÇÃO</a>
        <nav *ngIf="usuarioEstaLogado">
            <ul class="navLink">
                <li><a [routerLink]="['/produto']">Produto</a></li>
                <li><a [routerLink]="['/compra']">Compra</a></li>
                <li><a [routerLink]="['/cliente']">Clientes</a></li>
                <li><a [routerLink]="['']">Perfil</a></li>
            </ul>
        </nav>
        <a class="loginButton" *ngIf="usuarioEstaLogado" (click)="logout()"><button>Logout</button></a>
    </header>
</body>